@model IEnumerable<TRB.BLL.Models.BookListItem>

@{
    ViewBag.Title = "Homepage";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@foreach (var book in Model)
{
    <section class="book-info">
        <div class="wrapper">
            <h3>@book.Name</h3>
            <p>@book.Description</p>
        </div>
    </section>
}

@*<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @foreach (var book in Model)
            {
                <div class="book-details">
                    <p>@book.Name</p>
                    <p>@book.Author</p>
                    <p>@book.Year</p>
                </div>
            }
        </div>
    </div>
</div>*@